# Client-side
client/node_modules/
client/package-lock.json
client/.env

# Server-side
server/node_modules/
server/package-lock.json
server/cridentials/.env
server/cridentials/.env copy
server/database/db copy.js
server/test.html
server/tables